h1.title-hero-home {
    font-family: Orbitron, Arial, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 1.5rem;
}

p.desc-hero-home {
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
    max-width: 48rem;
}

html[data-theme="light"] h1.title-hero-home,
html[data-theme="light"] p.desc-hero-home {
    color: #112f5b;
}

html[data-theme="light"] p.desc-hero-home {
    font-weight: 500;
    text-shadow: 1px 1px 5px #fff;
    background-color: rgb(255 255 255 / 25%);
}

h2.title-section {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #198fd9;
    text-shadow: 1px 1px 13px rgba(25, 143, 217, 0.45);
    text-transform: uppercase;
}

div.sectionIntroUniverse-text a.btnTitleUniverseHome {
    display: none;
}

p.homeVideoBannerText,
cite.homeVideoBannerCite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 33px;
}

cite.homeVideoBannerCite {
    margin-top: 7px;
}

span.vaisseau-spatial--banner {
    position: absolute;
    top: -110px;
    left: 100px;
}

span.vaisseau-spatial img {
    width: 250px;
    height: auto;
}

span.pot-crayons--banner {
    position: absolute;
    top: -120px;
    right: 70px;
}

span.pot-crayons img {
    width: 200px;
    height: auto;
}

div.absolute-title-outline {
    position: absolute;
    pointer-events: none;
    width: 100%;
}

h2.section-title-outline {
    font-family: 'Arial Black', Gadget, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 115px;
    line-height: 122px;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}

h2.section-title-inline {
    font-family: Impact, Charcoal, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
    padding-top: 59px;
}

.title-separator {
    align-self: center;
    margin: 25px auto 55px auto;
    max-width: 100px;
}

.title-separator .line {
    border: 3.5px solid #198fd9;
}

a.homeExpertisesCard {
    padding: 7px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.35);
    border: 2px solid #002647;
    border-radius: 15px;
}

a.homeExpertisesCard:hover {
    transform: scale(1.05);
}

a.homeExpertisesCard h3 {
    margin: 0 !important;
}

a.homeExpertisesCard:hover h3 {
    text-decoration: underline;
}

a.homeExpertisesCard p {
    margin: 7px 15px 10px !important;
}

section.earth-video-banner {
    padding: 250px 0;
}

@media (min-width: 650px) {
    section.sectionIntroUniverse .lg\:grid-cols-2 {
        grid-template-columns: 3fr 2fr;
        gap: 20px;
    }
}

@media (min-width: 800px) {
    section.sectionIntroUniverse .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1300px) {
    span.pot-crayons img {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 1200px) {
    span.vaisseau-spatial--banner {
        top: -90px;
        left: 30px;
    }

    span.vaisseau-spatial img {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 1100px) {
    span.pot-crayons--banner {
        top: -120px;
        right: 30px;
    }
}

@media (max-width: 1024px) {
    section.homeServicesSection .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1000px) {
    div.sectionIntroUniverse-text p,
    div.sectionIntroUniverse-text a {
        font-size: 15px;
        line-height: 23px;
    }

    h2.section-title-outline {
        font-size: 80px;
        line-height: 88px;
    }

    span.vaisseau-spatial--banner {
        top: -80px;
        left: 30px;
    }

    span.vaisseau-spatial img {
        width: 180px;
        height: auto;
    }

    h2.section-title-inline {
        padding-top: 50px;
    }
}

@media (max-width: 950px) {
    section.homeServicesSection .lg\:grid-cols-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 900px) {
    div.sectionIntroUniverse-text p,
    div.sectionIntroUniverse-text a {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 850px) {
    section.home-hero div.homeScroll {
        left: calc(50% - 15px);
    }

    a.btnTitleUniverseHome {
        display: none;
    }

    div.sectionIntroUniverse-text a.btnTitleUniverseHome {
        display: flex;
    }
}

@media (max-width: 800px) {
    p.desc-hero-home {
        font-size: 18px;
        line-height: 26px;
    }

    p.homeVideoBannerText,
    cite.homeVideoBannerCite {
        font-size: 20px;
        line-height: 28px;
    }

    span.pot-crayons--banner {
        top: -120px;
        right: 30px;
    }

    span.pot-crayons img {
        width: 125px;
        height: auto;
    }
}

@media (max-width: 770px) {
    div.sectionIntroUniverse-text p,
    div.sectionIntroUniverse-text a {
        font-size: 12px;
        line-height: 20px;
    }

    div.sectionIntroUniverse-text p,
    div.sectionIntroUniverse-text div.divLinkUniverse {
        margin-top: 15px !important;
    }

    section.homeProjetsSection .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 750px) {
    h2.section-title-outline {
        font-size: 64px;
        line-height: 72px;
    }

    h2.section-title-inline {
        padding-top: 40px;
        font-size: 25px;
        line-height: 33px;
    }

    .title-separator {
        margin-top: 20px;
    }
}

@media (max-width: 700px) {
    h1.title-hero-home {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 650px) {
    section.sectionIntroUniverse div.laser-reveal {
        margin-bottom: 25px;
    }

    section.sectionIntroUniverse .lg\:grid-cols-2 {
        gap: 20px;
    }

    section.sectionIntroUniverse div.sectionIntroUniverse-slide {
        order: 1;
    }

    section.sectionIntroUniverse div.sectionIntroUniverse-text {
        order: 2;
    }

    section.sectionIntroUniverse div.sectionIntroUniverse-slide div.relative {
        max-width: 400px;
        height: auto;
        min-height: 600px;
    }

    div.sectionIntroUniverse-text p,
    div.sectionIntroUniverse-text a {
        font-size: 13px;
        line-height: 21px;
    }

    div.sectionIntroUniverse-text div.divLinkUniverse {
        margin-top: 30px !important;
        flex-direction: row;
    }

    p.homeVideoBannerText,
    cite.homeVideoBannerCite {
        font-size: 17px;
        line-height: 25px;
    }

    section.homeServicesSection .lg\:grid-cols-3,
    section.homeProjetsSection .md\:grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    section.homeServicesSection a.homeExpertisesCard img {
        max-width: 60%;
    }

    section.homeServicesSection a.homeExpertisesCard h3 {
        font-size: 17px;
        line-height: 25px;
    }

    section.earth-video-banner {
        padding: 150px 0;
    }
}

@media (max-width: 600px) {
    span.vaisseau-spatial--banner {
        top: -65px;
        left: 30px;
    }

    span.vaisseau-spatial img {
        width: 150px;
        height: auto;
    }

    h2.section-title-outline {
        font-size: 48px;
        line-height: 56px;
    }

    h2.section-title-inline {
        padding-top: 35px;
        font-size: 22px;
        line-height: 30px;
    }

    span.pot-crayons--banner {
        display: none;
    }
}

@media (max-width: 550px) {
    p.homeVideoBannerText br.mobile-break {
        display: none;
    }

    p.homeVideoBannerText span {
        margin-left: 5px;
    }
}

@media (max-width: 500px) {
    h1.title-hero-home {
        font-size: 30px;
        line-height: 30px;
    }
    
    p.desc-hero-home {
        font-size: 15px;
        line-height: 23px;
    }

    section.home-hero a.btn-cosmic {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    div.sectionIntroUniverse-text div.divLinkUniverse {
        flex-direction: column;
        align-items: baseline;
    }
}

.shooting-stars {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    opacity: 0.25;
}

.shooting-stars span {
    --star-size: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--star-size);
    height: var(--star-size);
    border-radius: 999px;
    background: #ffffff;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.08), 0 0 0 8px rgba(255, 255, 255, 0.06), 0 0 16px rgba(255, 255, 255, 0.35);
    opacity: 0;
    animation: shooting-star 6s linear infinite;
}

.shooting-stars span::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 190px;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.85), transparent);
}

@keyframes shooting-star {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 0;
    }

    8%,
    24% {
        opacity: 0.75;
    }

    100% {
        transform: rotate(315deg) translateX(-900px);
        opacity: 0;
    }
}

.shooting-stars span:nth-child(1) {
    top: 8%;
    right: 4%;
    left: auto;
    animation-delay: 0s;
    animation-duration: 5s;
}

.shooting-stars span:nth-child(2) {
    top: 14%;
    right: 15%;
    left: auto;
    animation-delay: 1s;
    animation-duration: 6.5s;
}

.shooting-stars span:nth-child(3) {
    top: 22%;
    right: 1%;
    left: auto;
    animation-delay: 1.8s;
    animation-duration: 5.4s;
}

.shooting-stars span:nth-child(4) {
    top: 4%;
    right: 28%;
    left: auto;
    animation-delay: 2.4s;
    animation-duration: 7s;
}

.shooting-stars span:nth-child(5) {
    top: 16%;
    right: 42%;
    left: auto;
    animation-delay: 3.5s;
    animation-duration: 6.2s;
}

.shooting-stars span:nth-child(6) {
    top: 30%;
    right: 8%;
    left: auto;
    animation-delay: 4.2s;
    animation-duration: 6.8s;
}

.shooting-stars span:nth-child(7) {
    top: 42%;
    right: 18%;
    left: auto;
    animation-delay: 0.9s;
    animation-duration: 7.4s;
}

.shooting-stars span:nth-child(8) {
    top: 56%;
    right: 7%;
    left: auto;
    animation-delay: 2.6s;
    animation-duration: 8s;
}

.shooting-stars span:nth-child(9) {
    top: 68%;
    right: 25%;
    left: auto;
    animation-delay: 4.8s;
    animation-duration: 6.7s;
}

.shooting-stars span:nth-child(10) {
    top: 78%;
    right: 10%;
    left: auto;
    animation-delay: 5.5s;
    animation-duration: 8.3s;
}

.universe-video-banner {
    padding: 75px 0;
}

.universe-video-banner__media {
    opacity: 1;
    filter: brightness(1);
}

.universe-video-banner__overlay {
    background: rgba(0, 7, 23, 0.55);
    opacity: 1;
}

.universe-video-banner__content {
    min-height: inherit;
    padding: 120px 30px;
}

@media (max-width: 650px) {
    .universe-video-banner {
        min-height: unset;
        padding: 0;
    }

    .universe-video-banner__content {
        min-height: auto;
        padding: 100px 30px;
    }

    .shooting-stars span::before {
        width: 130px;
    }

}
section.client-logos-section {
    padding: 80px 0;
    background: linear-gradient(180deg, rgba(1, 8, 26, 0.98) 0%, rgba(3, 15, 48, 0.98) 100%);
    border-top: 1px solid rgba(25, 143, 217, 0.2);
    border-bottom: 1px solid rgba(25, 143, 217, 0.2);
}

.logos-marquee {
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent 0, black 8%, black 92%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 8%, black 92%, transparent 100%);
}

.logos-marquee-track {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 18px;
    animation: logos-marquee 34s linear infinite;
}

.logo-item {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.logo-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(1.05);
}

.logo-item:hover {
    transform: scale(1.1);
}

@keyframes logos-marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-50% - 9px));
    }
}

@media (max-width: 768px) {
    .logos-marquee-track {
        gap: 12px;
        animation-duration: 28s;
    }
}

button.testimonial-nav-button {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(34, 211, 238, 0.5);
    color: #22d3ee;
    background: rgba(255, 255, 255, 0.04);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
}

button.testimonial-nav-button:hover {
    background: rgba(34, 211, 238, 0.2);
    transform: translateY(-2px);
}

article.testimonial-card {
    text-align: center;
}

div.testimonial-avatar-wrap {
    display: flex;
    justify-content: center;
}

img.testimonial-avatar {
    width: 125px;
    height: 125px;
    border-radius: 999px;
    object-fit: cover;
    border: 2px solid rgba(34, 211, 238, 0.75);
}

p.testimonial-role {
    margin-bottom: 15px;
}

p.testimonial-cite {
    text-align: justify;
    font-size: 14px;
    line-height: 22px;
    white-space: pre-line;
}

button.testimonial-read-more {
    margin-top: 12px;
    font-size: 0.95rem;
    color: #22d3ee;
    text-decoration: underline;
    text-underline-offset: 3px;
}

div.testimonial-modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 12000;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.testimonial-modal-backdrop-hitbox {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    border: 0;
}

div.testimonial-modal {
    position: relative;
    z-index: 1;
    width: min(880px, calc(100% - 30px));
    max-height: 85vh;
    overflow: auto;
    background: #020712;
    border: 1px solid rgba(34, 211, 238, 0.35);
    padding: 24px;
}

button.testimonial-modal-close {
    position: absolute;
    right: 12px;
    top: 12px;
    color: rgba(255, 255, 255, 0.85);
}

div.testimonial-modal-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

button.testimonial-modal-tab {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.75);
    padding: 8px 12px;
    font-size: 0.92rem;
}

button.testimonial-modal-tab.is-active {
    border-color: rgba(34, 211, 238, 0.6);
    color: #22d3ee;
    background: rgba(34, 211, 238, 0.12);
}

p.testimonial-modal-text {
    white-space: pre-line;
}

html[data-theme="light"] .shooting-stars {
    opacity: 0.12;
}

html[data-theme="light"] section.client-logos-section {
    background: linear-gradient(180deg, rgba(247, 230, 196, 0.95) 0%, rgba(233, 203, 152, 0.96) 100%);
    border-top: 1px solid rgba(139, 92, 36, 0.22);
    border-bottom: 1px solid rgba(139, 92, 36, 0.22);
}

html[data-theme="light"] .logo-item img {
    filter: saturate(0.9) contrast(1.05);
}

html[data-theme="light"] button.testimonial-nav-button {
    border: 1px solid rgba(180, 95, 26, 0.45);
    color: #9a4a12;
    background: rgba(255, 255, 255, 0.55);
}

html[data-theme="light"] button.testimonial-nav-button:hover {
    background: rgba(255, 170, 71, 0.24);
}

html[data-theme="light"] img.testimonial-avatar {
    border: 2px solid rgba(180, 95, 26, 0.62);
}

html[data-theme="light"] button.testimonial-read-more {
    color: #9a4a12;
}

html[data-theme="light"] div.testimonial-modal {
    background: #fff7e6;
    border: 1px solid rgba(150, 86, 32, 0.35);
    color: #4f2d16;
}

html[data-theme="light"] button.testimonial-modal-close {
    color: rgba(79, 45, 22, 0.85);
}

html[data-theme="light"] button.testimonial-modal-tab {
    border-color: rgba(150, 86, 32, 0.28);
    color: rgba(90, 51, 20, 0.8);
}

html[data-theme="light"] button.testimonial-modal-tab.is-active {
    border-color: rgba(180, 95, 26, 0.52);
    color: #9a4a12;
    background: rgba(255, 181, 78, 0.22);
}